<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <% include ./partials/navbar.ejs %>

      <main class="container mt-4">
          <section class="jumbotron">
            <p class="text-center">You are already signed out.</p>
        </section>
      </main>

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>