<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <% include ./partials/navbar.ejs %>

      <main class="container mt-4">
          <section class="jumbotron">
            <p class="alert alert-warning d-flex justify-content-center align-items-center">
              <a class="close-message" aria-label="return to home" href="/">
                <span aria-hidden="true">&times;</span>
              </a>
              <span class="ml-1">You are already signed out.</span> 
            </p>
        </section>
      </main>

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>