<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand text-white" href="/"><span class="fas fa-list-ul fa-sm text-white"></span> List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-angle-down text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home
              <span class="sr-only sr-only-focusable">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/list">Listing
              <span class="sr-only sr-only-focusable">(current)</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="/users/sign_in">Sign in
                <span class="sr-only sr-only-focusable">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sign-out-nav-link nav-link text-white pl-2" href="/users/sign_out">Sign out
                <span class="sr-only sr-only-focusable">(current)</span>
              </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>