<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <main class="container">
        <section class="text-center mt-3 dark-blue-text">
                <h1><span class="fas fa-exclamation-triangle"></span>You have entered an invalid route</h1>
        </section>
      </main>


      <% include ./partials/baseScripts.ejs %>
    </body>
</html>