<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <% include ./partials/navbar.ejs %>
      <main class="container">
        <section class="text-center mt-3 dark-blue-text">
            <h1>Use Todos to:</h1>
            <p>add todo items</p>
            <p>add, remove, and check off items in real time</p>
            <p>collaborate on completing tasks</p>
        </section>
      </main>


      <% include ./partials/baseScripts.ejs %>
    </body>
</html>